  @font-face {
    font-family: "Amellya";
    src: url("fonts/Amellya.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "BridgetLily";
    src: url("fonts/BridgetLily.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  body {
      background-image: url("images/tuti2.jpg");
      font-family: 'Segoe UI', sans-serif;
      margin: 0;
      padding: 0;
      background-size: cover;
      font-family: 'BridgetLily', cursive;
  }
  
  body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  
  .hero {
    background-image: url("images/tuti.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    position: relative;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  
  .section {
    padding: 40px 20px;
    text-align: center;
  }
  
  form input, form select, form textarea, form button {
    display: block;
    width: 90%;
    max-width: 400px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  form button {
    background-color: #ff69b4;
    color: white;
    border: none;
    cursor: pointer;
  }

  .title {
    font-family: "Amellya", cursive;
    font-size: 50px;
    color: white;
  }

  .title h3,
  .title iframe {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
  }

  .title2 {
    font-family: "Amellya", cursive;
    font-size: 40px;
    color: white;
  }

  .mainTitle h1,
  .mainTitle{
    font-family: "BridgetLily", cursive;
    font-size: 50px;
    color: white;
  }

  #countdown {
      width: 200px;
      height: 100px;
      font-family: "Amellya", cursive;
      color: white;
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 10px 15px;
      border-radius: 20px;
      font-size: 14px;
      z-index: 999;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      backdrop-filter: blur(5px);
  }

  .section {
    margin: 1px 0;
    padding: 30px 20px;
    
  }